<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Security-Policy" content="default-src * data:; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">
    <script src="components/loader.js"></script>
    <link rel="stylesheet" href="components/loader.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/calendar.css">
    <link rel="stylesheet" href="css/edit.css">
    <script src="js/main.js"></script>
    <script src="js/calendars.js"></script>
    <script src="js/app.js"></script>
    <script src="js/memo.js"></script>
    <script src="js/event.js"></script>
    
    <script>
        ons.bootstrap();
        
        ons.ready(function() {   
          carousel.on('overscroll', function(event) {
              // carousel.refresh();
              // setCalendar(-1);
          });
        });
    </script>
    
</head>
<body>
  <!-- tab --></!-->
    <ons-tabbar>
      <ons-tab page="home.html" label="Home" icon="ion-home" active="true"></ons-tab>
      <ons-tab page="schedule.html" label="Schedu" icon="ion-android-list"></ons-tab>
      <ons-tab page="livehouse.html" label="LiveHouse" icon="ion-speakerphone"></ons-tab>
      <ons-tab page="setting.html" label="Setting" icon="ion-gear-b"></ons-tab>
    </ons-tabbar>
  
  <!-- tmp_navi --></!-->
    <ons-template id="home.html">
      <ons-navigator var="myNavigator" page="calendar.html">
      </ons-navigator>
    </ons-template>
   
  <!-- calendar --></!-->
    <ons-template id="calendar.html"> 
    <div data-role="page" id="calendar">
      <ons-page id="calendars">
        <img src="img/hito1.jpg" style="width: 100%; height: 100%; position: fixed;"/>
        <ons-carousel fullscreen swipeable auto-scroll overscrollable  initial-index="1" var="carousel">
        
    <!-- 前月 --></!-->          
        <ons-carousel-item >
            <div class="edit">
              <ons-icon icon="ion-compose" size="35px" ng-click="myNavigator.pushPage('newedit.html');"></ons-icon>
            </div>
            <script>setCalendar(-1);</script>

          </ons-carousel-item>
        
    <!-- 当月 --></!-->          
          <ons-carousel-item>
         
            <div class="edit">
              <ons-icon icon="ion-compose" size="35px" ng-click="myNavigator.pushPage('newedit.html');"></ons-icon>
            </div>
          
            <script>setCalendar(0);</script>

          </ons-carousel-item>
          
          
    <!-- 翌月 --></!-->      
        <ons-carousel-item>
         
            <div class="edit">
              <ons-icon icon="ion-compose" size="35px" ng-click="myNavigator.pushPage('newedit.html');"></ons-icon>
            </div>
          
            <script>setCalendar(1);</script>

          </ons-carousel-item>
          
        </ons-carousel>
      </ons-page>
      </div>
    </ons-template>
    
</body>
</html>
